<h1>O aplikacji</h1>
<img src="/images/just-married.jpg" width="60%" height="60%" align="left" style="margin: 10px"/>
<p class="lead">Razem ugościliście już <b><%= @guests_count %></b> gości weselnych z pomocą naszej aplikacji!
<br>
<br>Wydaliście już łącznie <b><%= @costs_sum_all.round %></b> zł na wasze uroczystości weselne!</p>
<br><br>Apliakcja powstała jako projekt pracy inżynierskiej.
