<h1>Witaj w aplikacji <b>Udane Wesele!</b></h1>
<img src="/images/obraczki.jpg" width="60%" height="60%" align="right"/>
<p class="lead">Pomożemy przygotować się do Waszego najważniejszego dnia w życiu.</p>
<h4>Dodając listę gości, możesz zaplanować i rozmieścić ich według Twojej wizji.
<br>
<br>Masz również możliwość dodania swoich wydatków weselnych, by porównać je z innymi użytkownikami.
